@import 'https://fonts.googleapis.com/css?family=EB+Garamond|Raleway:400,600'

$primary: #222
$secondary: #cfa600

$section-padding: 40px

$safe-font: 'Helvetica Neue', Helvetica, Arial, sans-serif
$main-font: 'Raleway', $safe-font
$serif-font: 'EB Garamond', serif

body
  padding-top: 50px
  font-family: $main-font
  overflow-x: hidden

.navbar-acacia
  border: none
  border-radius: 0
  background: #fff

  box-shadow: 0 0 3px rgba(0,0,0,0.3)
  opacity: 0.95

  text-transform: uppercase
  font-size: small
  font-weight: bold

  .dropdown-menu
    border-top: none

.navbar-nav a
  color: #222

  &:hover
    color: $secondary !important
    background: transparent
  &:active
    background: #eee !important

.navbar-logo
  max-height: 100%

.navbar-brand
  padding: 7.5px

  &:hover,:focus
    background-color: #eee

a
  color: $secondary

  &:hover
    color: $secondary - #222

.cover
  background-position: 50% 33%
  background-size: cover

.banner
  width: 100%
  height: 300px

  .overlay
    height: 100%
    width: 100%
    background: rgba(0,0,0,0.7)

    text-align: center
    position: relative
    color: white

    img
      max-height: 4em
      max-width: 100%
      padding: 0 15px

.at
  font-size: 2em
  font-style: italic
  font-family: cursive

.banner-title
  font-size: 3.5em
  font-weight: 600
  text-transform: uppercase

.banner-text
  font-size: inherit
  font-family: $main-font
  width: 100%
  margin: 0
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)

  .uw-logo
    margin-bottom: 10px

  div
    padding: 0 15px

    &:not(:first-child)
      margin-top: 10px

.navbar-toggle
  font-family: $safe-font
  padding: 0 10px
  font-size: 16px
  line-height: 32px

.on-black
  background-color: rgba(255,255,255,0.6)
  width: 100%

.outer-wrap
  max-width: 1024px
  margin: auto

.wrap
  margin: 0 $section-padding

.content
  color: #666
  font-family: $serif-font
  font-size: 1.3em
  text-align: justify
  line-height: 2em

  padding: $section-padding / 2 0

  h2
    color: $primary
    font-style: italic
    margin-bottom: $section-padding / 2
    font-size: 1.5em


.col
  &:first-child
    padding-left: 0

    @media (max-width: 767px)
    padding-right: 0


  &:last-child
    padding-right: 0
    padding-left: 0

.col-sm-3:first-child
  @media (max-width: 767px)
    .sidenav
      border-bottom: 1px solid #eee
      padding-bottom: $section-padding / 2

    overflow: hidden
    padding-bottom: $section-padding / 4

.col-sm-9
  @media (min-width: 768px)
    &:first-child
      padding-right: $section-padding * 2

    &:last-child
      padding-left: $section-padding

.b-border-sm
  @media (max-width: 767px)
    border-bottom: 1px solid #eee
    padding-bottom: $section-padding / 2

.b-border-sm-a
  @media (min-width: 768px)
    border-bottom: 1px solid #eee
    padding-bottom: $section-padding / 2

.b-border
  border-bottom: 1px solid #eee
  padding-bottom: $section-padding / 2

.social a
  text-decoration: none
  font-family: $main-font

.social-text
  vertical-align: top

.address
  color: #666
  line-height: 1.5em

.social
  @extend .address

.facebook i
  color: #3b5998

.twitter i
  color: #00aced

.email i
  color: #22b900

.phone i
  color: #ce2020

.site-footer
  clear: both
  overflow: hidden

  background-color: #1f1f1f
  color: #8f8f8f
  font-variant: small-caps

  padding: $section-padding / 2 $section-padding $section-padding

  a
    text-decoration: none

  .social, .address
    color: #8f8f8f

  .address a
    color: inherit

    &:hover
      color: $secondary - #222

  .outer-wrap>*
    float: left
    padding-right: $section-padding

.photos
  overflow: hidden

.expanded-photo
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

a.thumbnail
  min-width: 100%
  &.active,&:focus,&:hover
    border-color: $secondary

.alert-noscript
  display: block
  text-align: center
  border-top: none
  border-left: none
  border-right: none
  border-radius: 0
  padding: 10.5px
  min-height: 40px
  margin-bottom: 0
  width: 100%

.anchor-name
  display: block
  position: relative
  top: -105px
  visibility: hidden

.fancybox-lock .fancybox-overlay
  overflow-x: hidden

.sidenav
  font-family: $main-font
  text-transform: uppercase
  font-weight: 600
  line-height: 1.75em

  h3
    font-weight: 600
    font-size: 1.5em
    color: #666 - #222

  &>ul
    font-size: 0.85em
    margin-bottom: 2.5px

  ul
    list-style: none

  li.active>a
    color: #666
  a
    color: #666 + #444

    &:hover
      color: $secondary + #222 !important
      text-decoration: none

  .first-level
    padding-left: 0

  .second-level
    padding-left: $section-padding / 2
    font-size: 0.8em

#gmap_canvas_container
  margin: $section-padding 0 ($section-padding / 2)
  padding: 0
  height: 250px
  overflow: hidden

.border
  border: 1px solid #ddd
  border-radius: 4px

#gmap_canvas
  height: 250px
  width: 100%

#gmap_canvas img
  max-width: none !important
  background: none !important

.house-container
  margin-top: $section-padding
  @media (min-width: 768px)
    margin-bottom: ($section-padding + 20px)
    margin-top: ((250px - 122px) / 2) + 20px

.contact-info
  @media (min-width: 768px)
    height: 150px
    margin-top: 0
    margin-bottom: 0
  line-height: 1.7
  margin-top: $section-padding
  color: #666

  h2
    color: #222
  h3
    color: #666
    font-size: 1em
    font-weight: 600
    margin-top: 10px

  &:not(:last-child), &:first-child
    margin-bottom: $section-padding / 2

.grid
  @media (min-width: 768px)
    margin-top: $section-padding / 2

  margin-bottom: $section-padding

%grid-header
  font-size: 1.5em
  font-weight: 600
  color: 2 * $primary

.member-entry
  padding: $section-padding / 2
  margin-bottom: 30px
  font-family: $main-font
  font-size: (1em / 1.3em) * 0.9em
  text-transform: uppercase
  text-align: left
  line-height: 1.15em

  @media (min-width: 768px)
    min-height: 375px
    overflow: hidden

  > div:not(:last-child)
    margin-bottom: .85em

  h3
    @extend %grid-header
    margin-top: 0
    margin-bottom: $section-padding / 2

.facebook, .twitter, .phone, .email
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden

  .fa
    margin-right: 3px

.member-img
  @media (min-width: 768px)
    height: 150px

  height: 50vw
  margin: 0 (-$section-padding / 2) ($section-padding / 2) !important

.gallery
  margin-top: $section-padding / 2

.gallery-img
  @media (min-width: 768px)
    height: 180px
  height: 50vw
  width: 100%

.grid-content
  text-transform: uppercase
  font-size: 0.9em
  font-weight: 600

  a
    font-weight: 400

  h2
    @extend %grid-header

.sidebar
  @media (min-width: 768px)
    text-transform: uppercase
    color: #666
    font-size: 0.9em
    font-weight: 600
    font-family: $main-font
    font-size: (1em / 1.3em) * 0.9em

    a
      font-weight: 400

    h2
      font-style: normal
      font-weight: 600
      margin-bottom: 10px
