---
layout: default
banner:
    img: /assets/banners/house.png
    text: Current Members
permalink: /current-members/
title: Current Members | Acacia Fraternity UW
executives:
    -
        title: Venerable Dean
        name: Austin Seely
        year: Junior
        email: austinseely@live.com
    -
        title: Senior Dean
        name: Corey Rogers
        year: Junior
    -
        title: Junior Dean
        name: Terrance Steenman
        year: Sophomore
        major: Architecural Design, Construction Management
        phone: (425) 749-8961
        phone-link: 'tel:14257498961'
        email: tsteen96@gmail.com
    -
        title: Risk Management Chairman
        name: Spencer Kelly
        year: Senior
    -
        title: Recruitment Chairman
        name: Jared Christensen
        year: Junior
        phone: (425) 736-9102
        phone-link: tel:14257369102
        facebook: https://www.facebook.com/jared.christenson.54
    -
        title: Treasurer
        name: Ernie Tao
        year: Junior
    -
        title: Secretary
        name: Harbin Gado
        year: Junior
        major: Economics, Political Science
        phone: (253) 306-0769
        phone-link: 12533060769
        email: harbin.gado@yahoo.com
officers:
    -
        title: Academic Chairman
        name: Justace Buhl Brennan
        year: Senior
    -
        title: Intramural Chairman
        name: William Elzemeyer
        year: Junior
        major: Earth and Space Sciences
        phone: (307) 413-3490
        phone-link: 13074133490
        email: wce2@uw.edu
    -
        title: Philanthropy Chairman
        name: Suyash Hiray
        year: Junior
        major: Bio Physics
        phone: (253) 486-2108
        phone-link: 12534862108
        email: suyashh@uw.edu
    -
        title: Vice President of Social Media
        name: Garrett Marconet
        img: '/assets/members/garrett-marconet.jpg'
        year: Junior
        major: Computer Engineering
        facebook: https://www.facebook.com/gmarconet
members:
    -
        name: Logan Guillet
        year: Junior
    -
        name: Jake Hammond
        year: Junior
    -
        name: Max Kern
        year: Sophomore
        major: Computer Science
        email: maxkern@uw.edu
    -
        name: Cameron Lerner
        year: Sophomore
    -
        name: Bridger Machus
        img: '/assets/members/bridger-machus.jpg'
        year: Junior
        major: Environmental Science, Resource Management
        facebook: 'https://facebook.com/Bridger10'
    -
        name: Tristan Perry
        year: Sophomore
    -
        name: Andrei Toader
        year: Sophomore
---

<div class="content">
    <div class="clearfix">
        <h2>Executives</h2>
        <div class="row">
            {% for member in page.executives %}
                {% include member-entry.html member=member %}
            {% endfor %}
        </div>
    </div>
    <div class="clearfix">
        <h2>Officers</h2>
        <div class="row">
            {% for member in page.officers %}
                {% include member-entry.html member=member %}
            {% endfor %}
        </div>
    </div>
    <div class="clearfix">
        <h2>Other Members</h2>
        <div class="row">
            {% for member in page.members %}
                {% include member-entry.html member=member %}
            {% endfor %}
        </div>
    </div>
</div>