<section class="photos clearfix">
    <h2>Photos</h2>
    <div {% if include.vertical == null %}class="row"{% endif %}>
    {% for img in page.photos | shift(3) %}
       <div {% if include.vertical == null %}class="col-sm-4"{% endif %}>
           <a title="{{ img.title }}" href="{{ img.url | prepend: site.baseurl }}" class="thumbnail">
               <div class="gallery-img cover" style="background-image:url('{{ img.url | prepend: site.baseurl }}')"></div>
           </a>
       </div>
    {% endfor %}
    </div>
</section>