{% if include.is_section == "true" %}
<section class="social">
{% else %}
<div class="social">
{% endif %}
    <h2>
        {% if include.text %}{{ include.text }}
        {% else %}Contact Us{% endif %}
    </h2>
    {% for platform in site.social %}
    <div class="{{ platform.class }}">
        <a target="_blank" href="{{ platform.link }}">
            <i class="fa {{ platform.icon }}" aria-hidden="true"></i>
            <span class="social-text {% if include.is_small %}small{% endif %}"> {{ platform.text }}</span>
        </a>
    </div>
    {% endfor %}
    {% if site.email and include.show_email != 'false' %}
    <div class="{{ site.email.class }}">
        <a href="mailto:{{ site.email.link }}">
            <i class="fa {{ site.email.icon }}" aria-hidden="true"></i>
            <span class="social-text {% if include.is_small %}small{% endif %}"> {{ site.email.text }}</span>
        </a>
    </div>
    {% endif %}
    {% if site.phone and include.show_phone != 'false' %}
    <div class="{{ site.phone.class }}">
        <a href="tel:{{ site.phone.link }}">
            <i class="fa {{ site.phone.icon }}" aria-hidden="true"></i>
            <span class="social-text {% if include.is_small %}small{% endif %}"> {{ site.phone.text }}</span>
        </a>
    </div>
    {% endif %}
{% if include.is_section != "true" %}
</div>
{% else %}
</section>
{% endif %}
