{% if include.is_section == "true" %}
<section class="social">
{% else %}
<div class="social">
{% endif %}
    <h2>Contact Us</h2>
    {% for platform in site.social %}
    <div>
        <a {% if platform.prefix == null %} target="_blank" {% endif%} href="{{ platform.link  | prepend: platform.prefix }}">
            <i class="fa {{ platform.icon }} fa-fw" aria-hidden="true"></i>
            <span class="social-text"> {{ platform.text }}</span>
        </a>
    </div>
    {% endfor %}
{% if include.is_section != "true" %}
</div>
{% else %}
</section>
{% endif %}
