---
layout: compress
---

<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        {% include header.html %}
        <div class="banner cover{% if page.banner.bottom-third %} bottom-third{% endif %}" style="background-image:url('{{ page.banner.img | prepend: site.baseurl }}')">
            <div class="overlay{% if page.banner.light %} light{% endif %}">
                <h1 class="banner-text">
                    {% if page.banner.text != null %}
                    <div class="banner-title">
                        {{ page.banner.text }}
                    </div>
                    {% else %}
                    <div class="banner-title">Acacia Fraternity</div>
                    <div class="at">at</div>
                    <img class="uw-logo" alt="University of Washington" src="./assets/uwlogo-white.png" />
                    {% endif %}
                </div>
            </div>
        </div>
        <main class="outer-wrap">
            <div class="wrap">
                {{ content }}
            </div>
        </main>
        {% include footer.html %}
    </body>
</html>
