<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        {% include header.html %}
        <div class="banner" style="background-image:url('{{ page.banner }}')">
            <div class="overlay">
                <h1 class="banner-text">
                    <div class="fraternity-title">Acacia Fraternity</div>
                    <div class="at">at</div>
                    <img alt="University of Washington" src="/assets/uwlogo-white.png" />
                </div>
            </div>
        </div>
        <div class="page-content">
            <div class="wrap">
                {{ content }}
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
